In [3]:
name = 'pratyush'
x=10
y=3
z=3.14

In [ ]:
del name

In [ ]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

13
7
30
3.3333333333333335
3
1
1000

## Operators
- Arthmetic operator
- Assignment operator
- comparision operator
- Logical operator
- Identity operator
- Membership operator

In [ ]:
a = x+y # assignment
a += 1 # a = a+1
a -=1 # a = a - 1
a *=2 # a = a*2
a /=5 # a = a/5
print(a)

5.2

In [ ]:
# Comparision operator
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [ ]:
#and operator
x>y and y<10

False

In [ ]:
#membership operator
#in

fruits = ['apple','banana','cherry']
print('apple' in fruits)
print('pomogranat' in fruits)

True
False

In [ ]:
#identity operator
#is --> 2 variables are in same memory location
#not prefered for cheking integers

f = ['apple','banana','cherry']
fruits is f

False

In [ ]:
#not operator
not x>y

In [ ]:
#or operator
x>y or y<1

True

## Dataypes in Python
- int
- float
- bool
- None
- str -> string
- list
- tuple
- set 
- dictionary

## I/O

In [ ]:
Name = input("Enter your name : ")

In [ ]:
City = input("Enter your city : ")
Age = input("Enter your age : ")
print("name --> ",Name)
print("City --> ",City)
print("age --> ", Age)

name -->  PRATYUSH PATHAK
City -->  LUCKNOW
age -->  22

## Type Conversion

In [ ]:
x=10
x = float(x)
print(x,type(x))
x=str(x)
print(x,type(x))
x=bool(x)
print(x,type(x))
x=str(x)
print(x,type(x))
#x=int(x) true cannot converted into int
#print(x,type(x))

10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>

In [ ]:
x= int(input("Enter a number"))
y= int(input("Enter a number"))
print(x+y)

22

In [ ]:

print(Name, Age, City, sep=', ')

PRATYUSH PATHAK, 22, LUCKNOW

In [ ]:
print(Name, end=', ')
print(City)

PRATYUSH PATHAK, LUCKNOW

In [ ]:
print(f"I live in {City}")

I live in LUCKNOW

In [ ]:
print(f"x={x}")
print(f"y={y}")
print(f"x+y={x+y}")

x=10
y=12
x+y=22

In [ ]:
# length and formating
print(f"{Name:20}{len(Name)}")

PRATYUSH PATHAK     15