#### dictionary

In [3]:
raju = [56,90,34,34,56]

raju_dict = {
    'English' : 56,
    'Hindi' : 90,
    'Maths' : 34,
    'Chemistry' : 34,
    'Evs' : 56
}

print(raju_dict)

{'English': 56, 'Hindi': 90, 'Maths': 34, 'Chemistry': 34, 'Evs': 56}

In [6]:
company = {
    'emp001' :{
        'name' : 'Amar Kumar',
        'designation' : 'Assistant III',
        'salary' : 32000
    },
    'emp002' :{
         'name' : 'Ranu Singh',
        'designation' : 'Staff Officer',
        'salary' : 89000
    },
     
         'total_emp' : 2,
        'department' : 'Accounts',
        'vacancy' : ['clerk','manager','assistant I']

}

In [7]:
company['name'] = 'Acme inc'
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 'total_emp': 2, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'Acme inc'}

In [8]:
company['total_emp'] = 3
company['emp003'] = {
    'name' : 'Ajay Verma',
    'designation' : 'clerk',
    'salary' : 45000
}

In [9]:
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 'total_emp': 3, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'Acme inc', 'emp003': {'name': 'Ajay Verma', 'designation': 'clerk', 'salary': 45000}}

In [11]:
company.get('emp003')

{'name': 'Ajay Verma', 'designation': 'clerk', 'salary': 45000}

In [12]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'total_emp', 'department', 'vacancy', 'name', 'emp003'])
dict_values([{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 3, 'Accounts', ['clerk', 'manager', 'assistant I'], 'Acme inc', {'name': 'Ajay Verma', 'designation': 'clerk', 'salary': 45000}])

In [13]:
if 'website' in company:
    print('website exist in company')

In [15]:
for i in raju_dict:
    print(i)

English
Hindi
Maths
Chemistry
Evs

In [16]:
for k,v in raju_dict.items():
    print(k,v)

English 56
Hindi 90
Maths 34
Chemistry 34
Evs 56

In [19]:
for k,v in company.items():
    if isinstance(v,dict):
        print(k)
        for key,val in v.items():
            print("--->0",key,val)
    else:
        print(k,":",v)

emp001
--->0 name Amar Kumar
--->0 designation Assistant III
--->0 salary 32000
emp002
--->0 name Ranu Singh
--->0 designation Staff Officer
--->0 salary 89000
total_emp : 3
department : Accounts
vacancy : ['clerk', 'manager', 'assistant I']
name : Acme inc
emp003
--->0 name Ajay Verma
--->0 designation clerk
--->0 salary 45000

wap to create dict which take user input and store the names of item and price

In [26]:
n = int(input("times"))
item_dict = {} 
for i in range(n):
    keysss = input()
    valueee = input()
    item_dict[keysss] = valueee
print(item_dict)

{'milk': '30', 'bread': '20', 'egg': '10'}