#### list
- indexed, ordered, **mutable**, allows duplicate, heterogeneous, '[]' , 'list()'
#### tuple
- indexed, ordered, **immutable**, allows duplicate, heterogeneous, '()', 'tuple()'
#### set
- **unordered**, mutable, **does not allow duplicates elements**, heterogeneous, '{}', 'set()'
#### dictionary
- **unordered**, mutable, **does not allow duplicates keys**, heterogeneous, key:value pairs, '{}', 'dict()'

#### list
- creating
- indexing and slicing
- methods(11 methods)
- list comprehension

In [32]:
x = [1,2,3,4,5]
names = ['john','paul','george','ringo']
mix = [1,'john',3.14,True] 
nested = [[1,2,3],[4,5,6],[7,8,9]]
mt = []
cloned = [1,2,3] * 5
words = 'this is sparated'.split()
chars = list('Alexander')

TypeError: 'list' object is not callable

In [ ]:
print(x[0])
print(x[-1])
x[0] = 100 #updating value at index 0

1
5

In [ ]:
chars[:5]

['A', 'l', 'e', 'x', 'a']

In [ ]:
chars[::-1]

['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'A']

- adding
    - append()
    - extend()
    - insert()
- remove
    - remove()
    - pop()
    - clear()
- utility
    - count()
    - index()
    - sort()
    - reverse()
    - copy()

In [ ]:
x.append(6)
x.append(3)
print(x)

[100, 2, 3, 4, 5, 6, 3, 6, 3]

In [ ]:
a = [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 3, 6, 3, 11, 12, 13]

In [ ]:
x.insert(5,100)
x.insert(6,500)
print(x)

[100, 2, 3, 4, 5, 100, 500, 6, 3, 6, 3, 11, 12, 13]

In [ ]:
if 100 in x:
    x.remove(100)
print(x)

[2, 3, 4, 5, 500, 6, 3, 6, 3, 11, 12, 13]

In [ ]:
n = int(input())
list=[]
for i in range(n):
    list.append(int(input()))
print(list)

[1, 2, 3, 4, 5]

In [ ]:
 print(x.pop(2))
print(x.pop())

5
13

In [ ]:
x = [1,2,3,4]
x.clear()
print(x)

[]

In [ ]:
x = [1,2,3,1,1,2,2,2,2,1,1,1]
print(x.count(1))

6

In [ ]:
names.sort()
print(names)

['george', 'john', 'paul', 'ringo']

In [36]:
a = 0
b = 1
list = []
list.append(a)
list.append(b)
for i in range(8):
    c = a+b
    list.append(c)
    a,b=b,c
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [2]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    s = i ** 2
    x2.append(s)
print(x2)

[1, 4, 9, 16, 25]

In [3]:
names = ['peter parker','bruce wayne','clark kent']
fname = []
for nm in names:
    fname.append(nm.split()[0])
print(fname)

['peter', 'bruce', 'clark']

In [4]:
x = [1,2,3,4,5,6,7,8,9,10]
even = []
for i in x:
    if(i%2 == 0):
        even.append(i)
print(even)

[2, 4, 6, 8, 10]

In [5]:
x2 = [i for i in x if(i%2 == 0)]
print(x2)

[2, 4, 6, 8, 10]

In [6]:
lnames = [nm.split()[-1] for nm in names]
print(lnames)

['parker', 'wayne', 'kent']