#### tuple

In [38]:
x = (1,2,3,4,5)
print(x,type(x))

(1, 2, 3, 4, 5) <class 'tuple'>

In [39]:
y = 1,2,3,4,5

In [40]:
z = (2,3,4)

In [41]:
a,b,c = z

In [42]:
x = (1,2,3,4,5,6,7,8,9,10)

In [43]:
y,*z = x
print(y,z)
a,b,c,*d = x
print(a,b,c,d)
a,*b,c,d = x
print(a,b,c,d)

1 [2, 3, 4, 5, 6, 7, 8, 9, 10]
1 2 3 [4, 5, 6, 7, 8, 9, 10]
1 [2, 3, 4, 5, 6, 7, 8] 9 10

In [44]:
x = (1,1,2,3,4,5,5,4,2,1,3,4,2,)
print(x.count(2))
print(x.count(1))

3
3

#### set

In [ ]:
a = {1,2,3,1,2,3}
print(a,type(a))

{1, 2, 3} <class 'set'>

In [ ]:
a.add(10)
a.add(3)
a.add(6)
print(a)

{1, 2, 3, 6, 10}

In [ ]:
a.discard(2)
a.discard(10)
print(a)

{1, 3, 6}

In [ ]:
x = {1,2,3,4,5}
y = {4,5,6,7,8}
z = {1,2,3}
a = {11,12,13}

In [ ]:
a.union(x)

{1, 2, 3, 4, 5, 11, 12, 13}

In [ ]:
x|y

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
x.intersection(y)

{4, 5}

In [ ]:
x&y

{4, 5}

In [ ]:
y&z

set()

In [ ]:
x.difference(y) # or x - y

{1, 2, 3}

In [ ]:
x.symmetric_difference(y) # or x ^ y

{1, 2, 3, 6, 7, 8}

In [ ]:
z.issubset(x)

True

In [ ]:
x.issuperset(z)

True

In [ ]:
x.isdisjoint(a)

True

In [ ]:
for i in x:
    print(i)

1
2
3
4
5